@(comandas:java.util.List[Comanda], message: String)
@if(comandas.isEmpty){
  <div class="alert alert-danger" role="alert">
    Não há comandas cadastradas
  </div>
} else {
  <table class="table table-condensed">
    <tr>
      <td>CPF do cliente</td>
      <td>Data/hora de abertura</td>
      <td>Preço total</td>
      <td>Produtos</td>
      <td>Funcionários responsáveis</td>
    </tr>

    @for(comanda <- comandas) {
      <tr class="active">
        <td>@comanda.getCpf_cliente()</td>
        <td>@comanda.getData_hora_abertura()</td>
        <td>@comanda.getPreco_total()</td>
        <!-- Insert list of Products and Employees -->
      </tr>
    }
  </table>
}