@(funcionarios: java.util.List[Funcionario], message: String)
@if(funcionarios.isEmpty){
    <div class="alert alert-danger" role="alert">
        Não há funcionários cadastrados
    </div>
} else {
    <table class="table table-condensed">
        <tr>
            <td>Nome</td>
            <td>Nível de acesso</td>
            <td>Cargo</td>
            <td>Salário base (R&#036)</td>
            <td>Turno</td>
        </tr>

        @for(funcionario <- funcionarios) {
            <tr class="active">
                <td>@funcionario.getNome()</td>
                <td>@funcionario.getNivel_acesso()</td>
                <td>@funcionario.getCargo()</td>
                <td>@funcionario.getSalario_base()</td>
                <td>@funcionario.getTurno()</td>
            </tr>
        }
    </table>
}