@(title: String)
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>@title</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/main.css")" />
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/ie10-viewport-bug-workaround.css")" />
        <link rel="icon" href="@routes.Assets.at("images/favicon.ico")" />
    </head>

    <body>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#"><img id="logo" src="@routes.Assets.at("images/bread-icon.png")" /></a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                        @if(session().isEmpty) {
                            <li><a href="#">Sistema de Automação Comercial</a></li>
                            <li><a href="#">Obter suporte</a></li>
                        } else {
                            @if(session.get("nivelAcesso")=="manager") {
                                <li><a href="@routes.FuncionarioController.index()">Novo funcionário</a></li>
                                <li><a href="@routes.ProdutoController.index()">Novo produto</a></li>
                                <li><a href="@routes.ComandaController.index()">Nova comanda</a></li>
                                <li><a href="@routes.FuncionarioController.list()">Lista de funcionários</a></li>
                                <li><a href="@routes.ProdutoController.list()">Lista de produtos</a></li>
                                <li><a href="@routes.ComandaController.list()">Lista de comandas</a></li>
                                <li><a href="#">Obter suporte</a></li>
                            }
                            @if(session.get("nivelAcesso")=="regular") {
                                <li><a href="@routes.ProdutoController.index()">Novo_produto</a></li>
                                <li><a href="@routes.ComandaController.index()">Nova comanda</a></li>
                                <li><a href="@routes.ProdutoController.list()">Lista de produtos</a></li>
                                <li><a href="@routes.ComandaController.list()">Lista de comandas</a></li>
                                <li><a href="#">Obter suporte</a></li>
                            }
                        }
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        @if(session().isEmpty) {
                            <li><a href="@routes.Application.login()"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                        } else {
                            <li><a href="@routes.Application.logout()"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
                        }
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container-fluid text-center">
            <div class="row content">
                <div class="col-sm-2 sidenav">

