@(message: String, menuLateral: Html, conteudo: Html)

@header("Sistema de Automação Comercial")
        @menuLateral
    </div>

    <div class="col-sm-8 text-left">
        @if(menuLateral == menuProdutos) {
            @produtos(Produto.list(), null)
        }
        @if(menuLateral == menuFuncionarios) {
            @funcionarios(Funcionario.list(), null)
        }
        @if(menuLateral == menuComandas) {
            @comandas(Comanda.list(), null)
        }
        @if(message!=null) {
            <div class="alert alert-success alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                @message
            </div>
        }
    </div>


    <div class="col-sm-2 sidenav">
    </div>
@footer()

