@(message: String, tipo_view: String, conteudo: Html)

@header("Sistema de Automação Comercial")
    </div>

    <div class="col-sm-8 text-left">
        @if(tipo_view == "produto") {
            @produtos(Produto.list(), null)
        } else {
            @if(tipo_view == "funcionario") {
                @funcionarios(Funcionario.list(), null)
            } else {
                @if(tipo_view == "comanda") {
                    @comandas(Comanda.list(), null)
                } else {
                    @conteudo
                }
            }
        }
        @if(message!="") {
            <div class="alert alert-success alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                @message
            </div>
        }
    </div>


    <div class="col-sm-2 sidenav">
    </div>
@footer()

