@(myForm: play.data.Form[Funcionario], message:String)

@if(message!="") {
    <div class="alert alert-success" role="alert">
    @message
    </div>
}
@if(myForm.hasGlobalErrors) {
    <ul>
    @for(error <- myForm.globalErrors) {
        <li>@error.message</li>
    }
    </ul>
}
@if(myForm.value.getOrElse(null)==null) {
    <form class="form-all-required" method="post" role="form" action="@routes.FuncionarioController.save(null)" >
        @funcionario(myForm)
        <button type="submit" class="btn btn-lg btn-default center-block">Cadastrar</button>
    </form>
}else{
    <form class="form-all-required" method="post" role="form" action="@routes.FuncionarioController.save(myForm.get().getId.toString)">
        @funcionario(myForm)
        <button type="submit" class="btn btn-lg btn-default center-block">Editar</button>
    </form>
}
