@(produtos: java.util.List[Produto], message:String)
@if(produtos.isEmpty){
    <div class="alert alert-danger" role="alert">
        Não há produtos cadastrados
    </div>
} else {
    <table class="table table-condensed">
        <tr>
            <td>Nome</td>
            <td>Descricao</td>
            <td>Preço (R&#36)</td>
            <td>Estoque</td>
        </tr>

        @for(produto <- produtos) {
            <tr class="active">
                <td>@produto.getNome()</td>
                <td>@produto.getDescricao()</td>
                <td>@produto.getPreco()</td>
                <td>@produto.getQtd_estoque()</td>
            </tr>
        }
    </table>
}